<% provide(:title, "Edit user") %>
<h1>Update event details</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@micropost) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :タイトル %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :場所 %>
      <%= f.text_field :location, class: 'form-control' %>

      <%= f.label :人数 %>
      <%= f.text_field :headcount, class: 'form-control' %>

      <%= f.label :"金額 (一人当たり)" %>
      <%= f.text_field :budget, class: 'form-control' %>

      <%= f.label :リンク %>
      <%= f.text_field :url, class: 'form-control' %>

      <%= f.label :コメント %>
      <%= f.text_field :comment, class: 'form-control' %>

      <%= f.submit "変更", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
